@import "../../styles/Colors.scss";

.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 35px;
    background-color:whitesmoke;
    padding: 20px;
    border: $primary-color 1px solid;
    border-radius: 7px;

    .fieldContainer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        // background-color: red;
    }

}