@import "../../styles/Colors.scss";

.form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 35px;
    background-color:whitesmoke;
    padding: 20px;
    border: $primary-color 1px solid;
    border-radius: 7px;
    // .filed_container{
    //     display: flex;
    //     flex-direction: row;
    // }
}