@import "../../styles/Colors.scss";

.fieldList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &::after {
    content: "";
    background-color: $secondary-color;
    width: 96%;
    margin: 10px auto;
    height: 1px;
    opacity: 0.4;
  }
}
